<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8" />
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Gestion de flot de véhicule" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Layout config Js -->

    <script th:src="@{/js/layout.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.min.css}" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg"  id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>

                        </div>
                        <p class="mt-3 fs-15 fw-medium">Flote de Véhicule</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Connexion</h5>
                            </div>
                            <div class="p-2 mt-4">
                                <form method="post" th:action="@{/login}">

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="username" name="username" placeholder="Email">
                                    </div>

                                    <div class="mb-3">
                                        <div class="float-end">
                                            <a th:href="@{/forget}" class="text-muted">Mot de passe oublier?</a>
                                        </div>
                                        <label class="form-label" for="password-input">Mot de passe</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input type="password" class="form-control pe-5" name="password" placeholder="Mot de passe" id="password-input">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                        <label class="form-check-label" for="auth-remember-check">Se souvenir de moi</label>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Connexion</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->


                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->


</div>
<!-- end auth-page-wrapper -->

<!-- JAVASCRIPT -->
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/libs/feather-icons/feather.min.js}"></script>

<script th:src="@{/js/pages/plugins/lord-icon-2.1.0.js}"></script>
<script th:src="@{/js/plugins.js}"></script>

<script th:src="@{/libs/particles.js/particles.js}"></script>
<script th:src="@{/js/pages/particles.app.js}"></script>
<script th:src="@{/js/plugins.js}"></script>

<script th:src="@{/js/pages/password-addon.init.js}"></script>

</body>


</html>