<html xmlns:th="http://www.thymeleaf.org">
<!-- Sidebar -->
<div th:fragment="block_sidebar" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <div th:if="${#authentication.getPrincipal().getRole() == 'Admin'}">
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <!-- end Dashboard Menu -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarApps">
                            <i class="ri-apps-2-line"></i> <span data-key="t-apps">Utilisateur</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarApps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a th:href="@{/AjoutUser}" class="nav-link" data-key="t-calendar"> ajout utilisateurs </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/listeUser}" class="nav-link" data-key="t-calendar"> Liste utilisateurs </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#affectation" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="affectation">
                            <i class="ri-apps-2-line"></i> <span data-key="t-apps">Affectation</span>
                        </a>
                        <div class="collapse menu-dropdown" id="affectation">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a th:href="@{/consulter_affectation}" class="nav-link" data-key="t-calendar">liste affectation</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/enregistrer_affectation}" class="nav-link" data-key="t-calendar">enregistrer affectation</a>
                                </li>


                            </ul>
                        </div>
                    </li>

                    <!-- Vehicules gestion-->

                    <li class="nav-item show">
                        <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class=" lab la-centos"></i> <span data-key="t-authentication">Gestion Vehicules</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarAuth">
                            <ul class="nav nav-sm flex-column" >
                                <li class="nav-item" >
                                    <a href="/ajouter_vehicule" class="nav-link" data-key="t-ajouter-vehicules">
                                        <i class=" bx bx-plus"></i> Ajouter Vehicules
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/lister_vehicule" class="nav-link" data-key="t-lister-vehicule">
                                        <i class=" bx bx-file"></i> Lister Vehicules
                                    </a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a href="rechercher_vehicule.html" class="nav-link" data-key="t-rechercher-vehicules">
                                        <i class=" bx bx-search"></i>Rechercher Vehicules
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item show">
                        <a class="nav-link menu-link" href="#categorie" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class=" lab la-centos"></i> <span data-key="t-authentication">Gestion Catégorie</span>
                        </a>
                        <div class="collapse menu-dropdown" id="categorie">
                            <ul class="nav nav-sm flex-column" >
                                <li class="nav-item" >
                                    <a th:href="@{/ajouter_categorie}" class="nav-link" data-key="t-ajouter-vehicules">
                                        <i class=" bx bx-plus"></i> Ajouter Categorie
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/liste_categorie}" class="nav-link" data-key="t-lister-vehicule">
                                        <i class=" bx bx-file"></i> Lister Categorie
                                    </a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a href="rechercher_vehicule.html" class="nav-link" data-key="t-rechercher-vehicules">
                                        <i class=" bx bx-search"></i>Rechercher Vehicules
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item show">
                        <a class="nav-link menu-link" href="#depense" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class=" lab la-centos"></i> <span data-key="t-authentication">Gestion Depense</span>
                        </a>
                        <div class="collapse menu-dropdown" id="depense">
                            <ul class="nav nav-sm flex-column" >
                                <li class="nav-item" >
                                    <a th:href="@{/enregistrer_depense}" class="nav-link" data-key="t-ajouter-vehicules">
                                        <i class=" bx bx-plus"></i> Ajouter Depense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/lister_depense}" class="nav-link" data-key="t-lister-vehicule">
                                        <i class=" bx bx-file"></i> Lister Depense
                                    </a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a href="rechercher_vehicule.html" class="nav-link" data-key="t-rechercher-vehicules">
                                        <i class=" bx bx-search"></i>Rechercher Vehicules
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>


            <!-- Else Menu -->

            <div th:if="${#authentication.getPrincipal().getRole() == 'Agent'}">
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <!-- end Dashboard Menu -->

                    <li class="nav-item">
                        <a class="nav-link menu-link" th:href="@{/acceuil_agent}">
                            <i class="ri-rocket-line"></i> <span data-key="t-landing">Mon véhicule</span>
                        </a>
                    </li>

                    <li class="nav-item show">
                        <a class="nav-link menu-link" href="#agent_depense" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAuth">
                            <i class=" lab la-centos"></i> <span data-key="t-authentication">Dépense</span>
                        </a>
                        <div class="collapse menu-dropdown" id="agent_depense">
                            <ul class="nav nav-sm flex-column" >
                                <li class="nav-item" >
                                    <a th:href="@{/save_depense}" class="nav-link" data-key="t-ajouter-depense">
                                        <i class=" bx bx-plus"></i> Enregistrer Dépense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/depense_agent}" class="nav-link" data-key="t-lister-depense">
                                        <i class=" bx bx-file"></i> Lister Dépense
                                    </a>
                                </li>

                                <!-- <li class="nav-item">
                                    <a href="rechercher_vehicule.html" class="nav-link" data-key="t-rechercher-vehicules">
                                        <i class=" bx bx-search"></i>Rechercher Vehicules
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
        <!-- Sidebar -->
    </div>

</div>

<!-- End of Sidebar -->
