<!doctype html>
<html lang="fr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      xmlns:th="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="utf-8" />
    <title>Liste des utilisateurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- jsvectormap css -->
    <th:block th:replace="fragments/css :: block_css">

    </th:block>



</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">

    <div th:replace="fragments/topbar :: block_nav">

    </div>

    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="../index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="/images/logo-dark.png" alt="" height="17">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="../index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/images/logo-sm.png" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="/images/logo-light.png" alt="" height="17">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div th:replace="fragments/sidebar :: block_sidebar">


        </div>

    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="row">

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Lites des Agents</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div id="customerList">
                                        <div class="row g-4 mb-3">
                                            <div class="col-sm-auto">
                                                <div>
                                                <a th:href="@{/AjoutUser}" class="btn btn-success add-btn">Ajouter Agent</a>
                                                </div>

                                            </div>
                                            <div class="col-sm">
                                                <div class="d-flex justify-content-sm-end">
                                                    <div class="search-box ms-2">
                                                        <input type="text" class="form-control search" placeholder="Search...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive table-card mt-3 mb-1">
                                            <table class="table align-middle table-nowrap" id="customerTable">
                                                <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="customer_name">Nom</th>
                                                    <th class="sort" data-sort="prenom">Prénom</th>
                                                    <th class="sort" data-sort="email">Email</th>
                                                    <th class="sort" data-sort="phone">Telephone</th>
                                                    <th class="sort" data-sort="action">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                <tr th:each="user : ${users}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="checkAll" value="${user.id}">
                                                        </div>
                                                    </th>
                                                    <td class="customer_name" th:text="${user.nom}">Mary Cousar</td>
                                                    <td class="email" th:text="${user.prenom}">marycousar@velzon.com</td>
                                                    <td class="email" th:text="${user.email}">marycousar@velzon.com</td>
                                                    <td class="phone" th:text="${user.telephone}">580-464-4694</td>
                                                    <!-- <td class="status"><span class="badge badge-soft-success text-uppercase">Active</span></td> -->
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a th:href="@{'/modifier_user?id=' + ${user.id}}" class="btn btn-sm btn-success edit-item-btn">Modifier</a>
                                                            <a th:href="@{'/suprimer_utilisateur?id=' + ${user.id}}"  class="btn btn-sm btn-danger remove-item-btn">Supprimer</a>
                                                            <a href="#" class ="btn btn-sm btn-secondary Details-item-btn" >Affecter vehicule</a>

                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                               colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                    </lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                        orders for you search.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Velzon.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Designer et developpé par le groupe JEE
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end main content-->

    </div>

    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->




    <!-- JAVASCRIPT -->
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/node-waves/waves.min.js"></script>
    <script src="/libs/feather-icons/feather.min.js"></script>
    <script src="/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="/js/app.js"></script>


</body>


</html>